<x-meta id="ti-widget-angledisplay" label="Angle Display" group="Dials & Gauges">

  <template>
    <ti-widget-angledisplay style="width:180px;height:180px;" fontSize="medium"></ti-widget-angledisplay>
  </template>
    <property name="fontSize" kind="select"
              options="xx-small,x-small,small,medium,large,x-large,xx-large,smaller,larger,inherit">
    </property>

  <template id="imports">
    <link rel="import" href="ti-widget-angledisplay.html">
  </template>
</x-meta>
